@import url(./variables.css);
@import url(./font.css);

/* Start Default Style */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  direction: rtl;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: var(--color-text);
  transition: all 400ms ease;
}

/* Finish Default Style */

.topbar {
  padding: 5px;
  background: var(--color-text-secondary);
}
.topbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 0 20px;
}

.tapbar__menu {
  display: flex;
  gap: 20px;
}
.topbar__link,
.tapbar__link {
  color: var(--color-button-text);
}
.topbar__left {
  display: flex;
  gap: 10px;
}
.tapbar__email,
.tapbar__phone {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tapbar__email-icon,
.tapbar__phone-icon {
  color: var(--color-text-muted);
}

