:root {
  --color-bg: #ffffff;
  --color-text: #111111;
  --color-text-secondary: #666666;
  --color-text-muted: #999999;

  --color-border: #e5e5e5;
  --color-surface: #f7f7f7;

  --color-button: #111111;
  --color-button-text: #ffffff;
  --color-button-hover: #333333;

  --primary-font: "IRANSans";
}
